.headshot {
  pointer-events: none;
  border: 5px solid black;
  border-radius:50%;
  margin:auto;
}

.socialsContainer {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    width:50%;
    margin:auto;
}


.socials {
    margin-top:-10px;
    height:100%;
    /*margin-top:auto;*/
    /*margin-bottom:auto;*/
    margin:auto;
}

.socialIcon {
    margin-right:10px;
}
